<div>
    <md-input-container>
        <label>Card 1</label>
        <md-select ng-model="ctrl.card1">
            <md-option ng-value="card" ng-repeat="card in ctrl.deck">{{ card.shortName }}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <label>Card 2</label>
        <md-select ng-model="ctrl.card2">
            <md-option ng-value="card" ng-repeat="card in ctrl.deck">{{ card.shortName }}</md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="ctrl.calculate()">Calculate</md-button>
    <div>Ranking: {{ctrl.ranking}}</div>
</div>
